<div class="container">
    <div class="row">
        {{ message }}
        <div class="col-sm-6 centered-form">
            <form action="/signup" method="post" encType="multipart/form-data">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" type="text" name="username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="text" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password" class="form-control">
                </div>
                {{#if translator}}
                <div class="form-group">
                    <p>Role:</p>
                    <br>
                    <label for="volunteer">Volunteer translator</label>
                    <input type="radio" name="role" id="volunteer" value="Volunteer translator">
                    <label for="professional">Professional translator</label>
                    <input type="radio" name="role" id="professional" value="Professional translator">
                </div>
                {{/if}}
                <div class="form-group">
                    <label for="idNumber">ID number:</label>
                    <input id="idNumber" type="idNumber" name="idNumber" class="form-control">
                </div>

                {{#if WO}} {{/if}}
                <button type="submit">Signup</button>
            </form>
        </div>
    </div>
</div>