<h1>Create a new Meeting</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6 centered-form">
            <form action="/meeting" method="post">
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" name="date" class="form-control">
                </div>

                <div class="form-group">
                    <label for="time">Time</label>
                    <input type="text" name="time" class="form-control">
                </div>

                <span>Participants</span>
                <div class="form-group">
                    <label for="translator">Translator</label>
                    <input type="text" name="translator" class="form-control">
                </div>

                <div class="form-group">
                    <label for="wo">Welfare Officer</label>
                    <input type="text" name="wo" class="form-control">
                </div>
                <button type="submit">Create Meeting</button>
            </form>
        </div>
    </div>
</div>